/***    General     ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif
}

body {
    margin: 0 auto
}

.m-5-auto {
    margin: 5rem auto
}

.primary-button {
    margin-top: 5rem;
    margin-right: 1rem;
    padding: .6rem;
    width: 10rem;
    background: #222;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: capitalize
}

/***    Landing Page     ***/
.main-title,
.main-para {
    color: #f1f1f1
}

.main-title {
    padding-top: 10rem;
    font-size: 5rem;
    font-family: 'Fascinate', cursive;
    text-transform: uppercase
}

.main-para {
    font-size: 2.5rem;
    text-Transform: capitalize
}

#reg_btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#reg_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#reg_btn:hover span {
    padding-right: 25px;
}

#reg_btn:hover span:after {
    opacity: 1;
    right: 0;
}

/***    Login Page     ***/
h2 {
    font-weight: 300
}

form {
    display: inline-block;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 1rem 0
}

form label {
    float: left;
    font-size: .9rem;
    margin: 0;
    padding: 0
}

.right-label {
    float: right;
    cursor: pointer
}

input {
    width: 15rem;
    padding: .3rem;
    border-radius: 5px;
    outline: none;
    border: none
}

#sub_btn {
    display: block;
    width: 100%;
    padding: .3rem;
    border: none;
    background: #222;
    color: #fff;
    border-radius: 3px;
}

#sub_btn:hover {
    background: #333;
    transition: all .5s
}

footer p {
    margin: 0;
    font-size: .9rem
}

/***    Register Page     ***/
#checkbox {
    width: 1rem
}

form span {
    font-size: .8rem
}

#reset_pass_lbl {
    float: left
}

/***    Home Page     ***/
.home-page-title {
    color: #222
}


/* NEW */
.login-input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.login-input-wrapper label {
    margin-right: 1rem;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    background-color: #8d949e;
}

.header-wrapper .brand a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}

.avatar-wrapper img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.avatar-wrapper button {
    background-color: transparent;
    border: none;
}

.avatar-wrapper button:hover {
    background-color: transparent;
    border: none;
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-wrapper .card-report {
    margin: 0 1rem 0 0;
}

.kw-table-wrapper {
    margin: 1rem 0 0 0;
}

.kw-table-wrapper .visually-hidden {
    display: none;
}

.kw-table-wrapper .kw-table {
    padding: 10px;
    box-shadow: 5px 4px #888888;
}

.kw-table-wrapper .kw-pagination-wrapper {
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: right;
}

.kw-table table.loading tbody {
    position: relative;
}

.kw-table table.loading tbody:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url('/spinner.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    content: "";
}

.upload-wrapper input::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
}

.upload-wrapper {
    display: flex;
    justify-content: right;
    align-items: center;
}